        header.masthead {
            padding-top: 6rem;
            padding-bottom: 10.5rem;
            text-align: center;
            color: #fff;
            background-image: url("../images/backgrounds/h_img.jpg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
        }
        
        header.masthead .masthead-logo {
            margin-top: 2rem;
        }
        
        header.masthead .masthead-heading {
            margin-top: 4rem;
            font-size: 3.25rem;
            line-height: 3.25rem;
            margin-bottom: 2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        header.masthead .masthead-mouse {
            margin-top: 5rem;
        }
        
        .page-section {
            padding: 2rem 0;
        }
        
        .services-section {
            padding: 2rem 0;
            background-image: url("../images/backgrounds/s_image.jpg");
        }
        
        .what-section {
            padding: 8rem 0;
        }
        
        .what-heading {
            color: rgba(99, 77, 77, 0.959);
        }
        
        .what-subheading {
            /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
            color: rgba(99, 77, 77, 0.959);
            font: 18px;
        }
        
        .what-para {
            color: rgba(99, 77, 77, 0.959);
            font-size: 15px;
        }
        
        .portfolio-heading {
            color: rgba(99, 77, 77, 0.959);
        }
        
        section#contact {
            background-color: #212529;
            background-image: url("../images/backgrounds/c_image.jpg");
            background-repeat: no-repeat;
            background-position: center;
            color: white;
        }
        
        section #contactForm .form-control {
            border: 0;
            background: none;
            border: 2px solid #FFFFFF;
            color: white;
            font-family: cursive;
        }
        
        input[type="text"]::placeholder {
            /* Firefox, Chrome, Opera */
            color: white;
            font-family: cursive;
        }
        
        input[type="email"]::placeholder {
            /* Firefox, Chrome, Opera */
            color: white;
            font-family: cursive;
        }
        
        textarea::-webkit-input-placeholder {
            color: white;
            font-family: cursive;
        }